<!DOCTYPE html>

<html> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- saved from url=(0047)file:///C:/Users/dell/Downloads/compatable.html -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
          .center {
            text-align:center;
            border:1px;
            width:auto;
            height:50px;

        }
        .cmb {
          display: block;
          margin:auto;
        }
        body{
        text-align: center;   
        background-image: url("https://media.istockphoto.com/id/465640302/photo/wall-texture-cyan-color.jpg?s=612x612&w=0&k=20&c=CIiB0cCJUiQc61fWj1V0wx2NpkYVaat27_knRrmzFc4=");
      
        
    }
    </style>

<br><br><br>
<br>
    <br>
    <form method="post" action="/city-names">
  
    <div class="input-group mb-3 center"  style="margin:auto;align-items: center;width: 350px;">
        <select class="form-select cmb" id="inputGroupSelect02" name="state">
          <option selected>Select State</option>
          <option value="">Select State</option>
          <option value="AN">Andaman and Nicobar Islands</option>
          <option value="AP">Andhra Pradesh</option>
          <option value="AR">Arunachal Pradesh</option>
          <option value="AS">Assam</option>
          <option value="BR">Bihar</option>
          <option value="CH">Chandigarh</option>
          <option value="CT">Chhattisgarh</option>
          <option value="DN">Dadra and Nagar Haveli</option>
          <option value="DD">Daman and Diu</option>
          <option value="DL">Delhi</option>
          <option value="GA">Goa</option>
          <option value="GJ">Gujarat</option>
          <option value="HR">Haryana</option>
          <option value="HP">Himachal Pradesh</option>
          <option value="JK">Jammu and Kashmir</option>
          <option value="JH">Jharkhand</option>
          <option value="KA">Karnataka</option>
          <option value="KL">Kerala</option>
          <option value="LA">Ladakh</option>
          <option value="LD">Lakshadweep</option>
          <option value="MP">Madhya Pradesh</option>
          <option value="MH">Maharashtra</option>
          <option value="MN">Manipur</option>
          <option value="ML">Meghalaya</option>
          <option value="MZ">Mizoram</option>
          <option value="NL">Nagaland</option>
          <option value="OR">Odisha</option>
          <option value="PY">Puducherry</option>
          <option value="PB">Punjab</option>
          <option value="RJ">Rajasthan</option>
          <option value="SK">Sikkim</option>
          <option value="TN">Tamil Nadu</option>
          <option value="TG">Telangana</option>
          <option value="TR">Tripura</option>
          <option value="UP">Uttar Pradesh</option>
          <option value="UT">Uttarakhand</option>
          <option value="WB">West Bengal</option>
        </select>
      </div>



<!-- Andhra Pradesh-->
<div class="input-group mb-3 center" style="margin:auto;align-items: center;width: 350px;">
    <select class="form-select cmb" id="inputGroupSelect02" name="city">
    <option value="">Select City</option>
    <option value="Amalapuram">Amalapuram</option>
    <option value="Amudalavalasa">Amudalavalasa</option>
    <option value="Anakapalle">Anakapalle</option>
    <option value="Anantapur">Anantapur</option>
    <option value="Attili">Attili</option>
    <option value="Avanigadda">Avanigadda</option>
    <option value="Badvel">Badvel</option>
    <option value="Banganapalle">Banganapalle</option>
    <option value="Bapatla">Bapatla</option>
    <option value="Betamcherla">Betamcherla</option>
    <option value="Bhattiprolu">Bhattiprolu</option>
    <option value="Bhimavaram">Bhimavaram</option>
    <option value="Bhimunipatnam">Bhimunipatnam</option>
    <option value="Bobbili">Bobbili</option>
    <option value="Challapalle">Challapalle</option>
    <option value="Chemmumiahpet">Chemmumiahpet</option>
    <option value="Chilakalurupet">Chilakalurupet</option>
    <option value="Chinnachowk">Chinnachowk</option>
    <option value="Chipurupalle">Chipurupalle</option>
    <option value="Chirala">Chirala</option>
    <option value="Chittoor">Chittoor</option>
    <option value="Chodavaram">Chodavaram</option>
    <option value="Cuddapah">Cuddapah</option>
    <option value="Cumbum">Cumbum</option>
    <option value="Darsi">Darsi</option>
    <option value="Dharmavaram">Dharmavaram</option>
    <option value="Dhone">Dhone</option>
    <option value="Diguvametta">Diguvametta</option>
    <option value="East Godavari">East Godavari</option>
    <option value="Elamanchili">Elamanchili</option>
    <option value="Ellore">Ellore</option>
    <option value="Emmiganur">Emmiganur</option>
    <option value="Erraguntla">Erraguntla</option>
    <option value="Etikoppaka">Etikoppaka</option>
    <option value="Gajuwaka">Gajuwaka</option>
    <option value="Ganguvada">Ganguvada</option>
    <option value="Gannavaram">Gannavaram</option>
    <option value="Giddalur">Giddalur</option>
    <option value="Gokavaram">Gokavaram</option>
    <option value="Gorantla">Gorantla</option>
    <option value="Govindapuram,Chilakaluripet,Guntur">Govindapuram,Chilakaluripet,Guntur</option>
    <option value="Gudivada">Gudivada</option>
    <option value="Gudlavalleru">Gudlavalleru</option>
    <option value="Gudur">Gudur</option>
    <option value="Guntakal Junction">Guntakal Junction</option>
    <option value="Guntur">Guntur</option>
    <option value="Hindupur">Hindupur</option>
    <option value="Ichchapuram">Ichchapuram</option>
    <option value="Jaggayyapeta">Jaggayyapeta</option>
    <option value="Jammalamadugu">Jammalamadugu</option>
    <option value="Kadiri">Kadiri</option>
    <option value="Kaikalur">Kaikalur</option>
    <option value="Kakinada">Kakinada</option>
    <option value="Kalyandurg">Kalyandurg</option>
    <option value="Kamalapuram">Kamalapuram</option>
    <option value="Kandukur">Kandukur</option>
    <option value="Kanigiri">Kanigiri</option>
    <option value="Kankipadu">Kankipadu</option>
    <option value="Kanuru">Kanuru</option>
    <option value="Kavali">Kavali</option>
    <option value="Kolanukonda">Kolanukonda</option>
    <option value="Kondapalle">Kondapalle</option>
    <option value="Korukollu">Korukollu</option>
    <option value="Kosigi">Kosigi</option>
    <option value="Kovvur">Kovvur</option>
    <option value="Krishna">Krishna</option>
    <option value="Kuppam">Kuppam</option>
    <option value="Kurnool">Kurnool</option>
    <option value="Macherla">Macherla</option>
    <option value="Machilipatnam">Machilipatnam</option>
    <option value="Madanapalle">Madanapalle</option>
    <option value="Madugula">Madugula</option>
    <option value="Mandapeta">Mandapeta</option>
    <option value="Mandasa">Mandasa</option>
    <option value="Mangalagiri">Mangalagiri</option>
    <option value="Markapur">Markapur</option>
    <option value="Nagari">Nagari</option>
    <option value="Nagireddipalli">Nagireddipalli</option>
    <option value="Nandigama">Nandigama</option>
    <option value="Nandikotkur">Nandikotkur</option>
    <option value="Nandyal">Nandyal</option>
    <option value="Narasannapeta">Narasannapeta</option>
    <option value="Narasapur">Narasapur</option>
    <option value="Narasaraopet">Narasaraopet</option>
    <option value="Narasingapuram">Narasingapuram</option>
    <option value="Narayanavanam">Narayanavanam</option>
    <option value="Narsipatnam">Narsipatnam</option>
    <option value="Nayudupet">Nayudupet</option>
    <option value="Nellore">Nellore</option>
    <option value="Nidadavole">Nidadavole</option>
    <option value="Nuzvid">Nuzvid</option>
    <option value="Ongole">Ongole</option>
    <option value="Pakala">Pakala</option>
    <option value="Palakollu">Palakollu</option>
    <option value="Palasa">Palasa</option>
    <option value="Palkonda">Palkonda</option>
    <option value="Pallevada">Pallevada</option>
    <option value="Palmaner">Palmaner</option>
    <option value="Parlakimidi">Parlakimidi</option>
    <option value="Parvatipuram">Parvatipuram</option>
    <option value="Pavuluru">Pavuluru</option>
    <option value="Pedana">Pedana</option>
    <option value="pedda nakkalapalem">pedda nakkalapalem</option>
    <option value="Peddapuram">Peddapuram</option>
    <option value="Penugonda">Penugonda</option>
    <option value="Penukonda">Penukonda</option>
    <option value="Phirangipuram">Phirangipuram</option>
    <option value="Pippara">Pippara</option>
    <option value="Pithapuram">Pithapuram</option>
    <option value="Polavaram">Polavaram</option>
    <option value="Ponnur">Ponnur</option>
    <option value="Ponnuru">Ponnuru</option>
    <option value="Prakasam">Prakasam</option>
    <option value="Proddatur">Proddatur</option>
    <option value="Pulivendla">Pulivendla</option>
    <option value="Punganuru">Punganuru</option>
    <option value="Puttaparthi">Puttaparthi</option>
    <option value="Puttur">Puttur</option>
    <option value="Rajahmundry">Rajahmundry</option>
    <option value="Ramachandrapuram">Ramachandrapuram</option>
    <option value="Ramanayyapeta">Ramanayyapeta</option>
    <option value="Ramapuram">Ramapuram</option>
    <option value="Rampachodavaram">Rampachodavaram</option>
    <option value="Rayachoti">Rayachoti</option>
    <option value="Rayadrug">Rayadrug</option>
    <option value="Razam">Razam</option>
    <option value="Razampeta">Razampeta</option>
    <option value="Razole">Razole</option>
    <option value="Renigunta">Renigunta</option>
    <option value="Repalle">Repalle</option>
    <option value="Salur">Salur</option>
    <option value="Samalkot">Samalkot</option>
    <option value="Sattenapalle">Sattenapalle</option>
    <option value="Singarayakonda">Singarayakonda</option>
    <option value="Sompeta">Sompeta</option>
    <option value="Srikakulam">Srikakulam</option>
    <option value="Srisailain">Srisailain</option>
    <option value="Suluru">Suluru</option>
    <option value="Tadepalle">Tadepalle</option>
    <option value="Tadepallegudem">Tadepallegudem</option>
    <option value="Tadpatri">Tadpatri</option>
    <option value="Tanuku">Tanuku</option>
    <option value="Tekkali">Tekkali</option>
    <option value="Tirumala">Tirumala</option>
    <option value="Tirupati">Tirupati</option>
    <option value="Tuni">Tuni</option>
    <option value="Uravakonda">Uravakonda</option>
    <option value="vadlamuru">vadlamuru</option>
    <option value="Vadlapudi">Vadlapudi</option>
    <option value="Venkatagiri">Venkatagiri</option>
    <option value="Vepagunta">Vepagunta</option>
    <option value="Vetapalem">Vetapalem</option>
    <option value="Vijayawada">Vijayawada</option>
    <option value="Vinukonda">Vinukonda</option>
    <option value="Visakhapatnam">Visakhapatnam</option>
    <option value="Vizianagaram">Vizianagaram</option>
    <option value="Vizianagaram District">Vizianagaram District</option>
    <option value="Vuyyuru">Vuyyuru</option>
    <option value="West Godavari">West Godavari</option>
    <option value="Yanam">Yanam</option>
    <option value="Yanamalakuduru">Yanamalakuduru</option>
    <option value="Yarada">Yarada</option>
</select>
</div>
<br>
<div class="input-group mb-3 center"  style="margin:auto;align-items: center;width: 350px;">
    <select class="form-select cmb" id="inputGroupSelect02" name="bgroup">
    <option value="">Select Blood Group</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="O">O</option>
</select>
</div>
</div>
<br>
<head>
    <h3>Select inputs</h3>
<form>
        <label>
            <input type="checkbox" name="checked" value="True"> 
          Check blood banks near me
        </label><br><br>
        <label>
            <input type="checkbox" name="checked1" value="True"> 
          Check donors near me    
        </label>
        <br><br>
    <input type="submit" value="Submit"><br>
<br> 
<p><%=msg1 %></p>
</form>  
</head>
</form>
<table class="table table-dark" style="width: 70%;margin: auto;">
  <tr>
    <th class="table-dark">Blood group</th>
    <th class="table-dark">Hospital/Blood Bank name</th>
    <th class="table-dark">Blood Units</th>
  </tr>
  <% if(result1 == 0 ) {%>
    <tr>
      <td>
        Not Found
      </td>
    </tr>

    <% } else if(Object.keys(result2).length>0 || Object.keys(result1).length>0){ %>
      <% for(var i=0;i<Object.keys(result1).length;i++){  %>
          <tr>
            <td> <%=result1[i].bgroup%> </td>
            <td><%=result1[i].hname%></td>
            <td><%=result1[i].bunits%></td>
          </tr>

      <%}%>
      <%}%>
  
</table>
<h1><%=msg %></h1>
<table class="table table-dark" style="width: 70%;margin: auto;">
  <tr>
    <th class="table-dark">Donor name</th>
    <th class="table-dark">Donor Phone Number</th>
  </tr>
  <% if(result2 == 0) {%>
    <tr>
      <td>
        Not Found
      </td>
    </tr>
  
    <% } else { %>
  <% for(var i=0;i<Object.keys(result2).length;i++){  %>
      <tr>
        <td> <%=result2[i].name%> </td>
        <td><%=result2[i].phone%></td>
      </tr>
  <%}%>
  <%}%>
</table>
</html>


